div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.25rem;
  font-weight: 75;
  height: 10rem;
}

a {
  font-size: 1.1rem;
  background-color: peachpuff;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin: 1rem;
  color: black;
}

a:hover {
  opacity: 0.8;
  cursor: pointer;
}
