<header>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Gitta</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <!-- <a routerlink = ""></a> something can go here as well -->
                        <a>Sign Out</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/favorites-page">
                        Favorites <span>3</span> <!-- needs adjustments -->
                    </a>
                </li>
            </ul>
        </nav>
        <a routerLink="/" class="logo">Pet Adoption</a>
    </div>
</header>
