header {
    position: relative;
    background: white;
    padding: 0;
    border-bottom: 1px solid peachpuff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    color: rgb(74, 151, 125);
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background: peachpuff;
    color: white;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo {
    font-weight: bold;
    padding: 1rem;
    font-size: 1.2rem;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

ul a {
    padding: 1rem;
    display: inline-block;
}

a span {
    background: rgb(130, 187, 168);
    color: white;
    padding: 0.1rem 0.5rem;
    border-radius: 100rem;
    font-size: 1rem;
}

.menu-container {
    position: relative;
}

.menu {
    position: absolute;
    z-index: 1;
    background-color: rgb(236, 227, 221);
    display: none;
}

.menu-container:hover .menu {
    display: block;
}

.menu a {
    width: 100%;
    min-width: 7rem;
}
