<div class="container">
    <div class="details">
        <app-title title="Register"></app-title>
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <text-input [control]="formControl.name" [showErrorsWhen]="isSubmitted" label="Name">
                `</text-input>
            <text-input [control]="formControl.email" [showErrorsWhen]="isSubmitted" label="Email" type="email">
                `</text-input>
            <text-input [control]="formControl.password" [showErrorsWhen]="isSubmitted" label="Password"
                type="password">
                `</text-input>
            <text-input [control]="formControl.confirmPassword" [showErrorsWhen]="isSubmitted" label="Password again"
                type="password">
                `</text-input>
            <text-input [control]="formControl.address" [showErrorsWhen]="isSubmitted" label="Address">
                `</text-input>
            <default-button text="Register"></default-button>
            <div class="login">
                Already registered?
                <a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">
                    &#160; Sign in!
                </a>
            </div>
        </form>
    </div>
</div>