.container {
  display: flex;
  align-items: flex-start;
  margin: 5rem;
  flex-wrap: nowrap;
  animation: fadeIn 0.6s ease-in-out;
}

img {
  border-radius: 0.5rem;
  object-fit: cover;
  height: 35rem;
  width: 35rem;
  margin-left: 2rem;
}

img:hover {
  transform: scale(1.005);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.details {
  flex: 1;
  padding: 0.5rem;
  margin-left: 1rem;
}

.details strong {
  color: rgb(74, 151, 125);
}

.header {
  display: flex;
  justify-content: space-between;
}

.favorites-button {
  margin-left: 1rem;
  font-size: larger;
}

.name {
  font-size: 2.5rem;
  font-style: italic;
}

.details div {
  margin-bottom: 1rem;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.categories a {
  display: inline-flex;
  background-color: rgba(255, 218, 185, 0.571);
  height: 2.2rem;
  padding: 0.4rem 1rem;
  border-radius: 10rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.categories a:hover {
  cursor: pointer;
  background-color: rgba(255, 218, 185, 0.9);
  transform: scale(1.1);
}

button {
  color: white;
  background: rgba(74, 151, 125, 0.7);
  padding: 1rem;
  border-radius: 1.5rem;
  font-size: 1.7rem;
  outline: auto;
  width: 100%;
  box-sizing: border-box;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background: rgba(74, 151, 125, 0.9);
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.delete-button {
  color: white;
  background: rgba(255, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 1.5rem;
  font-size: 1.7rem;
  outline: auto;
  width: auto;
  box-sizing: border-box;
  align-items: center;
  display: block;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  font-size: larger;
}

.delete-button:hover {
  background: rgba(255, 0, 0, 0.9);
  cursor: pointer;
}

.admin-fields {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background: rgba(74, 151, 125, 0.1);
}

.admin-fields h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.admin-fields label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}

.admin-fields input,
.admin-fields textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.admin-fields textarea {
  resize: vertical;
  min-height: 100px;
}

.admin-fields .non-editable {
  font-style: italic;
  color: #999;
  margin-top: 0.5rem;
}

.admin-fields .non-editable:hover {
  cursor: not-allowed;
}

.text-muted {
  color: rgb(251, 171, 100);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
