/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

html,
button {
  font-family: "Fredoka", "Poppins";
}

body {
  margin: 0;
  background-color: rgba(255, 218, 185, 0.2);
}

a {
  text-decoration: none;
}
